<%- include("partials/navigation.ejs") %>
<form action="/create-message" method="POST">
    <label for="title">Title: 
        <input name="title" type="text">
    </label>
    <label for="message">Message: 
        <input name="message" type="text">
    </label>
    <button type="submit">Create Message</button>
</form>