<%- include("partials/navigation.ejs") %>
<form action="membership" method="POST">
    <label for="passcode">Membership Passcode: 
        <input name="passcode" type="password">
    </label>
    <button type="submit">Submit</button>
</form>
<%- include("partials/errors.ejs") %>